@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.button-main {
  @apply flex items-center justify-center gap-1 px-3 py-2 text-sm font-medium text-black duration-200 rounded-md;
}

.button-accent {
  @apply flex items-center justify-center w-full gap-1 px-3 py-2 text-sm font-medium text-black duration-200 rounded-md;
}

.button-danger {
  @apply flex items-center justify-center w-full gap-1 px-3 py-2 text-sm font-medium text-black duration-200 rounded-md;
}

.input-main {
  @apply block w-full rounded-md px-3 border-0 bg-white/5 py-1.5 text-black shadow-sm ring-1 ring-inset outline-none sm:text-sm sm:leading-6;
}

@layer components {
  .text-black {
    color: black;
  }
  .bg-grey {
    background-color: #40322d;
  }
  .bg-orange {
    background-color: #79401eed;
  }

}

/* ANIMS */
.scale-in-bottom {
	-webkit-animation: scale-in-bottom 0.2s ease-in-out both;
	        animation: scale-in-bottom 0.2s ease-in-out both;
}

@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0) translateX(-50%) translateY(-25%);
            transform: scale(0) translateX(-50%) translateY(-25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateX(-50%) translateY(-125%);
            transform: scale(1) translateX(-50%) translateY(-125%);
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0) translateX(-50%) translateY(-100%);
            transform: scale(0) translateX(-50%) translateY(-100%);
    opacity: 0;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1) translateX(-50%) translateY(-125%);
            transform: scale(1) translateX(-50%) translateY(-125%);

            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}